@import "../../../styles/settings.scss";

.component {
  padding: $base-size 0;
  margin-left: auto;
}

.link {
  color: inherit;
}

.verticalLine {
  border-left: 3px solid #fff;
  margin-left: $base-size;
  padding: ($base-size / 2) ($base-size / 2);
}
